.TikTok {
  /*text-align: center;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*vertical-align: middle;*/
  /*margin: 100px;*/
}

.App {
  border-color: blue;
  border-style: double;
  width: 800px;
  height: 350px;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 100px;
  display: flex;
}

.BorderRed {
  border-color: red;
}

.Counter {
  border-color: blue;
  border-style: double;
  width: 300px;
  height: 300px;
  /*text-align: center;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*vertical-align: middle;*/
  margin: 100px;
  flex-grow: 1 ;

}

.Set {
  border-color: blue;
  border-style: double;
  width: 300px;
  height: 300px;
  /*text-align: center;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*vertical-align: middle;*/
  margin: 100px;
  flex-grow: 1 ;

}

.Button3 {

}

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/
